<div class="message__container">
  <h2 class="message__title">Has acertado!!!</h2>
</div>
<div class="messasge__img-title-container">
  <h2 class="message__profession">Microbiología</h2>
  <p class="message__profession-history">
    Estudié microbiología y estuve vinculada a la investigación científica en el
    <a
      href="https://es.wikipedia.org/wiki/Centro_de_Ingenier%C3%ADa_Gen%C3%A9tica_y_Biotecnolog%C3%ADa_de_Cuba"
      >CIGB</a
    >
    durante 8 años.
  </p>
</div>
<input
  type="button"
  class="button__play-again js-button-play-again"
  value="Vuelve a jugar"
/>
